page-login {

}
.login{
  width: 40%;
  display: block;
  //border: solid;
  background-color: white;
  margin: 40px auto auto;
  padding-bottom: 80px;
  padding-left: 130px;
  padding-right: 130px;
}

.mawala {
  //width: 50%;
  height: 500px;
}

.kwann {
  background-color: #3c7d0d;
}

.kwan4 {
  width: 100%;
}
