<ion-header>

  <img class="banner" src="../../assets/imgs/PARAGALA%20LOGO.png">
  <ion-navbar>
    <ion-row>
      <ion-col class="headerr">
        Nominees
      </ion-col>
      <ion-col>
        <button class="logout" ion-button color="danger" (click)="logout()">
          Logout
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding class="nominees-bg">
  <div class="nominees-bg">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="nominee-size">
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="category">
              <ion-option *ngFor="let c of categories">{{c}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="nominee-size">
            <ion-label color="norm-green" floating>Title</ion-label>
            <ion-input [(ngModel)]="title"></ion-input>
          </ion-item>
          <ion-item class="nominee-size">
            <ion-label color="norm-green" floating>Company</ion-label>
            <ion-input [(ngModel)]="company"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col text-center class="kwen">
          <button class="nominee-button-size" color="light-green" ion-button (click)="createNominee()">Create Nominee</button><br>
          <button class="nominee-button-size" color="light-green" ion-button (click)="setDefaultNominees()">Set Default Nominees</button>

        </ion-col>
        <ion-col>
          <ion-grid class="nominee-size">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label id="profile_image" color="norm-green" stacked>Upload csv</ion-label>
                  <ion-input type="file"
                             accept=".csv"
                             (change)="selectFile($event)">Select File
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="upload">
                <button color="light-green" ion-button (click)="uploadFile()">Upload File</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>


      </ion-row>
    </ion-grid>






    <ion-grid>
      <ion-row>
        <ion-col>
          <b>
            Category
          </b>
        </ion-col>
        <ion-col>
          <b>
            Title
          </b>
        </ion-col>
        <ion-col>
          <b>
            Company
          </b>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
      <ion-row class="nominees" *ngFor="let nominee of nominees">
        <ion-col>
          {{ nominee.category }}
        </ion-col>
        <ion-col>
          {{ nominee.title }}
        </ion-col>
        <ion-col>
          {{ nominee.company }}
        </ion-col>
        <ion-col>
          <button class="delete" (click)="delete(nominee.id)" ion-button color="danger" clear icon-only>
            <ion-icon name='trash'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
