page-nominees {

}
.sizer {
  width: 50%;
  margin: auto;
  display: block;
}

ion-col {

}

.delete {
  height: 20px;
  width: 20px;
  margin: 0px;
}

.nominees {
  border-top: solid black;
  border-width: thin;
  //border: 1px;
}
