page-nominees {

}

.nominees-bg {
  padding-left: 100px;
  padding-right: 100px;
}

.sizer {
  width: 50%;
  margin: auto;
  display: block;
}

.nominee-size {
  width: 100%;
  margin: auto;
  display: block;
}

ion-col {

}

.delete {
  height: 20px;
  width: 20px;
  margin: 0px;
}

.nominees {
  border-top: solid black;
  border-width: thin;
  //border: 1px;
}

.nominee-button-size {
  width: 50%;
  margin: auto;
  display: block;
}

.kwen {
  height: 100%;
  display: block;
  vertical-align: middle;
}
