page-admin {

}

ion-header ion-icon.back-button-icon.icon {
  color: #fff;
}

ion-header ion-navbar {
  color: #fff;
}

.headerr {
  margin: auto;
}

.toolbar-background {
  background-color: #327600;
}

.kalachuchi {
  color: #327600;
}

.adminbutton {
  margin: 10px auto auto;
  display: block;
}

.logout {
  margin: 0px 5px auto auto;
  display: block;
}

.add-category {
  width: 50%;
  margin: auto;
  display: block;
}

.date-time {
  width: 100%;
  margin: auto;
  display: block;
}

.burboski {
  //margin: 10px auto auto;
  padding: 2% 5%;
  //border: solid #27570C;
  width: 60%;
}
