page-admin {

}

.adminbutton {
  margin: 10px auto auto;
  display: block;
}
.logout {
  margin: 10px auto auto;
  display: block;
}

.add-category {
  width: 50%;
  margin: auto;
  display: block;
}

.date-time {
  width: 50%;
  margin: auto;
  display: block;
}
